master:
  image: eeacms/postgres
  environment:
  - POSTGRES_USER=postgres
  - POSTGRES_PASSWORD=postgres
  - POSTGRES_DBNAME=datafs zasync
  - POSTGRES_DBUSER=zope
  - POSTGRES_DBPASS=zope
  - POSTGRES_CONFIG_wal_level=hot_standby
  - POSTGRES_CONFIG_max_wal_senders=8
  - POSTGRES_CONFIG_wal_keep_segments=8
  - POSTGRES_CONFIG_hot_standby=on

replica:
  image: eeacms/postgres
  tty: true
  stdin_open: true
  links:
  - master
  environment:
  - POSTGRES_USER=postgres
  - POSTGRES_PASSWORD=postgres
  - POSTGRES_CONFIG_wal_level=hot_standby
  - POSTGRES_CONFIG_max_wal_senders=8
  - POSTGRES_CONFIG_wal_keep_segments=8
  - POSTGRES_CONFIG_hot_standby=on
  - POSTGRES_REPLICATE_FROM=master
